div(class='checkbox-rooms')
  label(class='checkbox-rooms--label' for='checkbox-rooms-1')
    input(class='checkbox-rooms--checkbox' type='checkbox' name='studio' id='checkbox-rooms-1' data-filter='room')
    span(class='checkbox-rooms--label-text') Студия
  label(class='checkbox-rooms--label' for='checkbox-rooms-2')
    input(class='checkbox-rooms--checkbox' type='checkbox' name='1' id='checkbox-rooms-2' data-filter='room')
    span(class='checkbox-rooms--label-text') 1
  label(class='checkbox-rooms--label' for='checkbox-rooms-3')
    input(class='checkbox-rooms--checkbox' type='checkbox' name='2' id='checkbox-rooms-3' data-filter='room')
    span(class='checkbox-rooms--label-text') 2
  label(class='checkbox-rooms--label' for='checkbox-rooms-4')
    input(class='checkbox-rooms--checkbox' type='checkbox' name='3' id='checkbox-rooms-4' data-filter='room')
    span(class='checkbox-rooms--label-text') 3+