$accent-color: hsl(13deg 70% 52%);
$second-color: hsl(235deg 10% 52%);

/* text colors */
$text-color: hsl(235deg 11% 42% / 100%);
$text-color-lighten: hsl(235deg 18% 72% / 100%);
$text-color-white: hsl(0deg 0% 100%);

/* background colors */
$bg-main-color: #fff;
$bg-accent-color: hsl(235deg 11% 42%);

/* gray color */
$color-gray-1: #eee;
$color-gray-2: #fafafa;

/* box-shadow */
$box-shadow-1: 0 0 5px 0 $color-gray-1;
