.menu--nav {
  position: absolute;
  top: -0.5rem;
  right: 0;
  padding: 1rem;
  padding-top: 4.5rem;
  border: 1px solid $color-gray-1;
  background-color: $bg-main-color;
  border-radius: 12px;
  box-shadow: $box-shadow-1;
  opacity: 0;
  transform: translateX(10px) translateY(-1px);
  transition-delay: 0.25s, 0s, 0s;
  transition-duration: 0s, 0.25s, 0.25s;
  transition-property: visibility, opacity, transform;
  transition-timing-function: ease-out, ease-out, ease-out;
  visibility: hidden;
}

.menu--nav .navigation {
  align-items: flex-end;
  padding: 2rem;
  border-top: 1px solid $color-gray-1;
  text-align: right;
}

.menu--nav.is-active {
  opacity: 1;
  transform: translateX(0) translateY(0);
  transition-delay: 0s, 0s, 0s;
  visibility: visible;
}
