div(class='menu' id='menu')
  button(class='menu--btn' type='button' data-nav='open' aria-haspopup='menu')
    span
    span
    span
  nav(class='menu--nav' data-nav='menu')
    include ../navigation/navigation.pug