div(class='form-subscribe')
  p(class='form-subscribe--header') Подпишитесь на обновления по проектам
  form(class='form-subscribe--form' name='form-subscribe' action='#' id='form-subscribe')
    label(for='subscribe-email')
      span(class='visually-hidden') Email
      input(class='input' type='email' inputmode='email' name='email' id='subscribe-email' placeholder='Email' required)
    button(class='btn' type='submit') Подписаться
  p(class='form-subscribe--note'). 
    Нажимая кнопку «Подписаться» вы даете свое согласие на обработку персональных данных