.order-call--btn-open {
  padding: 0.7rem;
  border: none;
  background-color: $color-gray-2;
  border-radius: 7px;
  box-shadow: 0 0 5px 0 hsla(0deg 0% 93% / 0%);
  color: inherit;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  transition: box-shadow 0.25s ease-out;
}

@media not all and (any-pointer: coarse) {
  .order-call--btn-open:hover {
    box-shadow: 0 0 5px 0 hsla(0deg 0% 93% / 100%);
  }
}
