.slider--track {
  position: absolute;
  width: 100%;
  height: 0.2rem;

  // background-color: violet;
  background:
    linear-gradient(
      to right,
      $second-color,
      $second-color var(--value-from, 0%),
      $accent-color var(--value-from, 0%),
      $accent-color  var(--value-to, 100%),
      $second-color var(--value-to, 100%)
    ),;
}
