div(class='slider')
  div(class='slider--track' data-range='track')
  label(class='slider--label' for="slider-to")
    input(class='slider--input-range' type='range' min='0' max='30000000' value='30000000' id='slider-to' data-range='slider-to' data-filter='max-price')
  label(class='slider--label' for="slider-from")
    input(class='slider--input-range' type='range' min='0' max='30000000' value='0' id='slider-from' data-range='slider-from' data-filter='min-price')
  